{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle formation{% endblock %}

{% block body %}

    {# Condition pour gérer le titre selon si on créer ou l'on modifie une entreprise #}
    {% if edit %}
        <h1>Modifier une formation</h1>
    {% else %}
        <h1>Ajouter une nouvelle formation</h1> 
    {% endif %}

    <div class="formAdd">

        {# Affiche le formulaire #}
        {{form(formAddFormation)}}

    </div>

    <a class="btn btn-dark" href="{{ path ('app_formation') }}">RETOUR</a>

    <figure>
        <img class="fond" src="{{asset('img/addStudent.jpg')}}" alt="Ascensseur">
    </figure>

{% endblock %}
